.Dawlish-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.Dawlish-text10 {
  display: inline-block;
}
 
.Dawlish-text11 {
  display: inline-block;
}
 
.Dawlish-text12 {
  display: inline-block;
}
 
.Dawlish-text15 {
  display: inline-block;
}
 
.Dawlish-text16 {
  display: inline-block;
}
 
.Dawlish-text19 {
  display: inline-block;
}
 
.Dawlish-text20 {
  display: inline-block;
}
 
.Dawlish-text21 {
  display: inline-block;
}
 
.Dawlish-text22 {
  display: inline-block;
}
 
.Dawlish-text23 {
  display: inline-block;
}
 
.Dawlish-text25 {
  font-style: italic;
}
 
.Dawlish-text27 {
  font-style: italic;
}
 
.Dawlish-text37 {
  display: inline-block;
}
 
.Dawlish-text40 {
  display: inline-block;
}
 
.Dawlish-text41 {
  display: inline-block;
}
 
.Dawlish-text42 {
  display: inline-block;
}
 
.Dawlish-text43 {
  display: inline-block;
}
 
.Dawlish-text46 {
  display: inline-block;
}
 
.Dawlish-text47 {
  display: inline-block;
}
 
.Dawlish-text48 {
  display: inline-block;
}
 
.Dawlish-text49 {
  display: inline-block;
}
 
.Dawlish-text50 {
  display: inline-block;
}
 
.Dawlish-text51 {
  display: inline-block;
}
 
.Dawlish-text52 {
  display: inline-block;
}
 
.Dawlish-text53 {
  display: inline-block;
}
 
@media(max-width: 1200px) {
  .Dawlish-text25 {
    font-style: italic;
  }
  .Dawlish-text27 {
    font-style: italic;
  }
}
