.hero-dawlish-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.hero-dawlish-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
 
.hero-dawlish-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.hero-dawlish-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.hero-dawlish-text1 {
  text-align: center;
  font-family: "Georgia";
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
 
.hero-dawlish-text2 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  text-align: center;
}
 
.hero-dawlish-text4 {
  display: inline-block;
}
 
.hero-dawlish-text5 {
  display: inline-block;
}
 
.hero-dawlish-text6 {
  display: inline-block;
}
 

 
@media(max-width: 1200px) {
  .hero-dawlish-text1 {
    fill: var(--dl-color-theme-neutral-light);
    color: var(--dl-color-theme-neutral-light);
  }
}
